{% extends "dashboard/dashboard.html" %}
{% block page %}
<h1 class="page-header">Edit Profile</h1>
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
    {% endfor %}
{% endif %}
{% for field in form %}
        {% if field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.label_tag }}</strong> {{ field.errors }}
            </div>
        {% endif %}
{% endfor %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
{% if u_type = "Patient" %}
<div class="row">
    <div class = "col-md-2" style = "margin-bottom: 10 px;">
        <p>Import patient information</p>
        {{form.docfile}}
    </div>
</div>
&nbsp;
{% endif %}
<div class="row">
    <div class="col-md-2">
        <label for="first_name" class="sr-only">First Name</label>
        <input id="first_name" name="first_name" value="{{user.first_name}}" class="form-control" placeholder="First Name" autofocus="" >
    </div>
    <div class="col-md-2">
        <label for="last_name" class="sr-only">Last Name</label>
        <input id="last_name" name="last_name" value="{{user.last_name}}" class="form-control" placeholder="Last Name" autofocus="">
    </div>
</div>
<div class="row">
    <div class="col-md-3" style="padding-top:25px;">
            <label for="email" class="sr-only" >Email</label>
            <input id="email" name="email" class="form-control" value="{{user.email}}" type="inputEmail" placeholder="Email" autofocus="" >
            {% if u_type = "Patient" %}
                &nbsp;
                <label for="address" class="sr-only">Address</label>
                <input id="address" name="address" class="form-control" value="{{patient.address}}" placeholder="Address" autofocus="" >
            {% endif %}
            {% if viewer.is_superuser and  u_type = "Patient" %}
                &nbsp;
                {{ form.doctor }}
				&nbsp;
				<p>Admitted Hospital:</p>
				{{ form.hospital }}
            {% endif %}
            {% if viewer = user and type = "Patient" %}
                &nbsp;
                {{ form.doctor }}
            {% endif %}
    </div>
    <div class="col-md-3" style="padding-top:25px;">
        {% if user.is_superuser = False %}
            <label for="phone" class="sr-only">Phone Number</label>
            <input type="text" pattern="[0-9]{10}" value="{{patient.phone_number}}" name="phone" id="phone" class="form-control" placeholder="Phone Number" autofocus >
        {% endif %}
        {% if u_type = "Patient" %}
            &nbsp;
            <label for="insurance" class="sr-only">Insurance ID</label>
            <input type="text" pattern="[0-9]{0,10}" name="insurance" value="{{patient.insurance_id}}" id="insurance" class="form-control" placeholder="Insurance ID" autofocus>
        {% endif %}
        {% if user.is_superuser = False %}
            &nbsp;
            {% if u_type = "Patient" %}
				{{ form.pref_hospital }}
            {% else %}
                {{ form.hospital }}
			{% endif %}
        {% endif %}
        {% if viewer.is_superuser and  u_type = "Patient" %}
                &nbsp;
                <p>Nurses:</p>
                {{ form.nurse }}
        {% endif %}
    </div>
</div>
{% if u_type = "Patient" %}
    <div class="row">
        <h5>Emergency Contact</h5>
        <div class="col-md-3">
            <label for="ice_name" class="sr-only">First Name</label>
            <input id="ice_name" name="ice_name" class="form-control" value="{{patient.ice_name}}" placeholder="Full Name" autofocus="">
        </div>
        <div class="col-md-3">
            <label for="ice_phone" class="sr-only">Phone Number</label>
            <input type="text" pattern="[0-9]{10}" name="ice_phone" id="ice_phone" value="{{patient.ice_phone}}" class="form-control" placeholder="Phone Number" autofocus>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <h5>Medical Information</h5>
        <div class="row">
            <div class="col-md-2" style="display: -webkit-box;">
                <p style="margin-top: .5em; margin-right: 5px;">Gender</p>
                {{form.sex}}
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-md-2" style="display: -webkit-box;">
                <div style="display: -webkit-box;">
                    <p style="margin-top: .5em; margin-right: 10px;">Height </p>
                    &nbsp;
                    <input type="number" name="height_ft" class="form-control" placeholder="ft" value="{{patient.height_ft}}"min="0" autofocus="" style="width: 50px;">'
                    &nbsp;
                    <input type="number" name="height_in" class="form-control" placeholder="in" value="{{patient.height_in}}" min="0" max="12" autofocus="" style="width: 50px;">"
                </div>
                <div style="display: -webkit-box; margin-left: 20px;">
                    <input type="number" name="weight" class="form-control" placeholder="Weight" value="{{patient.weight}}" min="0" autofocus="" style="width: 90px;">
                    &nbsp;
                    <p style="margin-top: .5em;">lbs</p>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-md-4">
                <label for="med_info" class="sr-only">Other Information</label>
                <input type="text" name="med_info" class="form-control" placeholder="Other Information" value="{{patient.med_info}}" size="60" autofocus="">
            </div>
        </div>
    </div>
{% endif %}
<div class="col-md-6" style="margin-top:20px;">
    <div class="btn-group btn-group-lg" role="group" style= "float: right;">
        <button class="btn btn-danger" type="submit">Save</button>
        <button onclick="goBack()" class="btn btn-danger">Cancel</button>
    </div>
</div>
<script>
function goBack() {
    window.history.back()
}
</script>
{% endblock %}