{% extends "dashboard/dashboard.html" %}
{% block page %}
<div class="row page-header">
    <div class="col-md-3">
        <h1 style="margin-top: 0px;">Profile</h1>
    </div>
	{% if edit %}
		<div style="margin-top: 5px; margin-left: 10px; float: right;">
			<a href="edit/" style="float: right;" class="btn btn-danger">Edit</a>
		</div>
	{% endif %}
	{% if button_text %}
		<div style="margin-top: 5px; margin-left: 10px; float: right;">
			<a href="{% url 'admit_patient' user.id %}" style="float: right;" class="btn btn-danger">{{ button_text }}</a>
		</div>
	{% endif %}
    <div style="margin-top: 5px; margin-left: 10px; float: right;">
		<a href="{% url 'compose' user %}" style="float: right;" class="btn btn-danger">Send Message</a>
    </div>
</div>

<div style="width: 50%; display: flex;">
	<div>
		{% if user.first_name %} 
			<h3>{{user.first_name}} {{user.last_name}}</h3>
			<p><b>Username: </b>{{user.username}}</p>
		{% else %}
			<h3>{{user.username}}</h3>
		{% endif %}
	</div>
	{% if u_type = "Patient" %}
		<div>
			<a title = "Export Information" href="{% url 'export' user %}" style="margin-left: 15em; margin-top: 1.75em;" class="btn btn-danger"><span class="glyphicon glyphicon-save"></span></a>
		</div>
	{% endif %}
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                    {% if user.email %}
                        <h4>Email:</h4>
                        <p>{{user.email}}</p>
                    {% endif %}
                    {% if patient.address %}
                        <h4>Address:</h4>
                        <p>{{patient.address}}</p>
                    {% endif %}
            </div>
            <div class="col-md-6">
                {% if patient.phone_number %}
                    <h4>Phone Number:</h4>
                    <p>{{patient.phone_number}}</p>
                {% endif %}
                {% if patient.insurance_id %}
                    <h4>Insurance ID:</h4>
                    <p>{{patient.insurance_id}}</p>
                {% endif %}
                {% if patient.hospital %}
                    {% if u_type != "Patient" %}
                        <h4>Hospital:</h4>
                    {% else %}
                        <h4>Admitted Hospital:</h4>
                    {% endif %}
                    <p>{{patient.hospital}}</p>
                {% endif %}
                {% if patient.pref_hospital %}
                    <h4>Preferred Hospital:</h4>
                    <p>{{patient.pref_hospital}}</p>
                {% endif %}
        		{% if patient.doctor %}
                    <h4>Doctor:</h4>
                    <p>{{patient.doctor}}</p>
        		{% endif %}
            </div>
        </div>
        {% if patient.ice_phone %}
            <div class="row">
                <h4>Emergency Contact:</h4>
                <div class="col-md-6">
                    <h5><b>Name:</b> {{patient.ice_name}}</h5>
                </div>
                <div class="col-md-6">
                        <h5><b>Phone Number:</b> {{patient.ice_phone}}</h5>
                </div>
            </div>
        {% endif %}
        {% if patient.med_info or patient.sex or patient.height_ft or patient.weight %}
            <div class="row">
                <h4>Medical Information:</h4>
                <div class="col-md-6">
                    {% if patient.sex %}
                        <h5><b>Gender:</b> {{patient.sex}}</h5>
                    {% endif %}
                    {% if patient.height_ft %}
                        <h5><b>Height:</b> {{patient.height_ft}}' {{patient.height_in}}"</h5>
                    {% endif %}
                    {% if patient.weight %}
                        <h5><b>Weight:</b> {{patient.weight}}</h5>
                    {% endif %}
                </div>
                {% if patient.med_info %}
                    <div class="col-md-6">
                        <h5><b>Other Information:</b></h5>
                        <h5> {{patient.med_info}}</h5>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if u_type = "Patient" %}
        <div class="col-md-6">
                    <div style="display: flex;">
                        <h4>Tests:</h4>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                {% if type = 'Doctor' %}
                                    <th>Released</th>
                                {% endif %}
                                {% if type = 'Doctor' %}
                                    <th><a href="{% url 'new_test' patient %}" class="btn btn-success" title="New Test"><span class="glyphicon glyphicon-plus"></a></th>
                                {% else %}
                                    <th></th>
                                {% endif %}
                            </tr>
                        </thead>
                        {% for test in tests %}
                                <tr style="cursor: pointer;">
                                    <td>{{test.name}}</td>
                                    <td>{{test.date}}</td>
                                    {% if type = 'Doctor' %}
                                        <td>{{test.released}}</td>
                                    {% endif %}
                                    <td>
                                        {% if type = 'Doctor' %}
                                            <a href="{% url 'test_edit' patient.user test.id %}" class="btn btn-info" title="Edit Test"><span class="glyphicon glyphicon-pencil"></a>
                                        {% endif %}
                                        {% if test.released or type = 'Doctor' %}
                                            <a href="{% url 'test' patient.user test.id %}" class="btn btn-warning" title="View Test"><span class="glyphicon glyphicon-eye-open"></a>
                                        {% endif %}
										{% if type = 'Doctor' %}
                                            <a href="{% url 'test_rel' test.id %}" class="btn btn-success" title="Release Test"><span class="glyphicon glyphicon-open-file"></a>
                                        {% endif %}
                                    </td>
                                </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    {% endif %}
</div>
{% endblock %}